<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gznb.open.dao.mybatis.BusSystemApplyRecordMapper" >
  <resultMap id="BaseResultMap" type="com.gznb.open.domain.BusSystemApplyRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bus_platform_id" property="busPlatformId" jdbcType="INTEGER" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="apply_user" property="applyUser" jdbcType="VARCHAR" />
    <result column="apply_email" property="applyEmail" jdbcType="VARCHAR" />
    <result column="apply_mobile" property="applyMobile" jdbcType="VARCHAR" />
    <result column="apply_description" property="applyDescription" jdbcType="VARCHAR" />
    <result column="apply_status" property="applyStatus" jdbcType="VARCHAR" />
    <result column="audit_user" property="auditUser" jdbcType="VARCHAR" />
    <result column="audit_result" property="auditResult" jdbcType="VARCHAR" />
    <result column="audit_description" property="auditDescription" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bus_platform_id, platform_id, module_id, apply_user, apply_email, apply_mobile, 
    apply_description, apply_status, audit_user, audit_result, audit_description, update_time, 
    create_time, create_user, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gznb.open.domain.BusSystemApplyRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bus_system_apply_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bus_system_apply_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bus_system_apply_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gznb.open.domain.BusSystemApplyRecordExample" >
    delete from bus_system_apply_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gznb.open.domain.BusSystemApplyRecord" >
    insert into bus_system_apply_record (id, bus_platform_id, platform_id, 
      module_id, apply_user, apply_email, 
      apply_mobile, apply_description, apply_status, 
      audit_user, audit_result, audit_description, 
      update_time, create_time, create_user, 
      update_user)
    values (#{id,jdbcType=INTEGER}, #{busPlatformId,jdbcType=INTEGER}, #{platformId,jdbcType=INTEGER}, 
      #{moduleId,jdbcType=INTEGER}, #{applyUser,jdbcType=VARCHAR}, #{applyEmail,jdbcType=VARCHAR}, 
      #{applyMobile,jdbcType=VARCHAR}, #{applyDescription,jdbcType=VARCHAR}, #{applyStatus,jdbcType=VARCHAR}, 
      #{auditUser,jdbcType=VARCHAR}, #{auditResult,jdbcType=VARCHAR}, #{auditDescription,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gznb.open.domain.BusSystemApplyRecord" >
    insert into bus_system_apply_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="busPlatformId != null" >
        bus_platform_id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="applyUser != null" >
        apply_user,
      </if>
      <if test="applyEmail != null" >
        apply_email,
      </if>
      <if test="applyMobile != null" >
        apply_mobile,
      </if>
      <if test="applyDescription != null" >
        apply_description,
      </if>
      <if test="applyStatus != null" >
        apply_status,
      </if>
      <if test="auditUser != null" >
        audit_user,
      </if>
      <if test="auditResult != null" >
        audit_result,
      </if>
      <if test="auditDescription != null" >
        audit_description,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="busPlatformId != null" >
        #{busPlatformId,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="applyUser != null" >
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyEmail != null" >
        #{applyEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyMobile != null" >
        #{applyMobile,jdbcType=VARCHAR},
      </if>
      <if test="applyDescription != null" >
        #{applyDescription,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null" >
        #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null" >
        #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditDescription != null" >
        #{auditDescription,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gznb.open.domain.BusSystemApplyRecordExample" resultType="java.lang.Integer" >
    select count(*) from bus_system_apply_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bus_system_apply_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.busPlatformId != null" >
        bus_platform_id = #{record.busPlatformId,jdbcType=INTEGER},
      </if>
      <if test="record.platformId != null" >
        platform_id = #{record.platformId,jdbcType=INTEGER},
      </if>
      <if test="record.moduleId != null" >
        module_id = #{record.moduleId,jdbcType=INTEGER},
      </if>
      <if test="record.applyUser != null" >
        apply_user = #{record.applyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.applyEmail != null" >
        apply_email = #{record.applyEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.applyMobile != null" >
        apply_mobile = #{record.applyMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDescription != null" >
        apply_description = #{record.applyDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.applyStatus != null" >
        apply_status = #{record.applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUser != null" >
        audit_user = #{record.auditUser,jdbcType=VARCHAR},
      </if>
      <if test="record.auditResult != null" >
        audit_result = #{record.auditResult,jdbcType=VARCHAR},
      </if>
      <if test="record.auditDescription != null" >
        audit_description = #{record.auditDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bus_system_apply_record
    set id = #{record.id,jdbcType=INTEGER},
      bus_platform_id = #{record.busPlatformId,jdbcType=INTEGER},
      platform_id = #{record.platformId,jdbcType=INTEGER},
      module_id = #{record.moduleId,jdbcType=INTEGER},
      apply_user = #{record.applyUser,jdbcType=VARCHAR},
      apply_email = #{record.applyEmail,jdbcType=VARCHAR},
      apply_mobile = #{record.applyMobile,jdbcType=VARCHAR},
      apply_description = #{record.applyDescription,jdbcType=VARCHAR},
      apply_status = #{record.applyStatus,jdbcType=VARCHAR},
      audit_user = #{record.auditUser,jdbcType=VARCHAR},
      audit_result = #{record.auditResult,jdbcType=VARCHAR},
      audit_description = #{record.auditDescription,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gznb.open.domain.BusSystemApplyRecord" >
    update bus_system_apply_record
    <set >
      <if test="busPlatformId != null" >
        bus_platform_id = #{busPlatformId,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="applyUser != null" >
        apply_user = #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyEmail != null" >
        apply_email = #{applyEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyMobile != null" >
        apply_mobile = #{applyMobile,jdbcType=VARCHAR},
      </if>
      <if test="applyDescription != null" >
        apply_description = #{applyDescription,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null" >
        apply_status = #{applyStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null" >
        audit_user = #{auditUser,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null" >
        audit_result = #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditDescription != null" >
        audit_description = #{auditDescription,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gznb.open.domain.BusSystemApplyRecord" >
    update bus_system_apply_record
    set bus_platform_id = #{busPlatformId,jdbcType=INTEGER},
      platform_id = #{platformId,jdbcType=INTEGER},
      module_id = #{moduleId,jdbcType=INTEGER},
      apply_user = #{applyUser,jdbcType=VARCHAR},
      apply_email = #{applyEmail,jdbcType=VARCHAR},
      apply_mobile = #{applyMobile,jdbcType=VARCHAR},
      apply_description = #{applyDescription,jdbcType=VARCHAR},
      apply_status = #{applyStatus,jdbcType=VARCHAR},
      audit_user = #{auditUser,jdbcType=VARCHAR},
      audit_result = #{auditResult,jdbcType=VARCHAR},
      audit_description = #{auditDescription,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.gznb.open.domain.BusSystemApplyRecordExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bus_system_apply_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>