<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gznb.open.dao.mybatis.SystemPlatformDicCatalogMapper" >
  <resultMap id="BaseResultMap" type="com.gznb.open.domain.SystemPlatformDicCatalog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="catalog_type" property="catalogType" jdbcType="VARCHAR" />
    <result column="catalog_name" property="catalogName" jdbcType="VARCHAR" />
    <result column="catalog_desc" property="catalogDesc" jdbcType="VARCHAR" />
    <result column="catalog_status" property="catalogStatus" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, platform_id, catalog_type, catalog_name, catalog_desc, catalog_status, note, 
    update_time, create_time, create_user, update_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gznb.open.domain.SystemPlatformDicCatalogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_platform_dic_catalog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_platform_dic_catalog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_platform_dic_catalog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gznb.open.domain.SystemPlatformDicCatalogExample" >
    delete from system_platform_dic_catalog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gznb.open.domain.SystemPlatformDicCatalog" >
    insert into system_platform_dic_catalog (id, platform_id, catalog_type, 
      catalog_name, catalog_desc, catalog_status, 
      note, update_time, create_time, 
      create_user, update_user)
    values (#{id,jdbcType=INTEGER}, #{platformId,jdbcType=INTEGER}, #{catalogType,jdbcType=VARCHAR}, 
      #{catalogName,jdbcType=VARCHAR}, #{catalogDesc,jdbcType=VARCHAR}, #{catalogStatus,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gznb.open.domain.SystemPlatformDicCatalog" >
    insert into system_platform_dic_catalog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="catalogType != null" >
        catalog_type,
      </if>
      <if test="catalogName != null" >
        catalog_name,
      </if>
      <if test="catalogDesc != null" >
        catalog_desc,
      </if>
      <if test="catalogStatus != null" >
        catalog_status,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="catalogType != null" >
        #{catalogType,jdbcType=VARCHAR},
      </if>
      <if test="catalogName != null" >
        #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="catalogDesc != null" >
        #{catalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="catalogStatus != null" >
        #{catalogStatus,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gznb.open.domain.SystemPlatformDicCatalogExample" resultType="java.lang.Integer" >
    select count(*) from system_platform_dic_catalog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update system_platform_dic_catalog
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.platformId != null" >
        platform_id = #{record.platformId,jdbcType=INTEGER},
      </if>
      <if test="record.catalogType != null" >
        catalog_type = #{record.catalogType,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogName != null" >
        catalog_name = #{record.catalogName,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogDesc != null" >
        catalog_desc = #{record.catalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogStatus != null" >
        catalog_status = #{record.catalogStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update system_platform_dic_catalog
    set id = #{record.id,jdbcType=INTEGER},
      platform_id = #{record.platformId,jdbcType=INTEGER},
      catalog_type = #{record.catalogType,jdbcType=VARCHAR},
      catalog_name = #{record.catalogName,jdbcType=VARCHAR},
      catalog_desc = #{record.catalogDesc,jdbcType=VARCHAR},
      catalog_status = #{record.catalogStatus,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gznb.open.domain.SystemPlatformDicCatalog" >
    update system_platform_dic_catalog
    <set >
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
      <if test="catalogType != null" >
        catalog_type = #{catalogType,jdbcType=VARCHAR},
      </if>
      <if test="catalogName != null" >
        catalog_name = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="catalogDesc != null" >
        catalog_desc = #{catalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="catalogStatus != null" >
        catalog_status = #{catalogStatus,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gznb.open.domain.SystemPlatformDicCatalog" >
    update system_platform_dic_catalog
    set platform_id = #{platformId,jdbcType=INTEGER},
      catalog_type = #{catalogType,jdbcType=VARCHAR},
      catalog_name = #{catalogName,jdbcType=VARCHAR},
      catalog_desc = #{catalogDesc,jdbcType=VARCHAR},
      catalog_status = #{catalogStatus,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.gznb.open.domain.SystemPlatformDicCatalogExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_platform_dic_catalog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>